USE [LibraryDB]
GO
/****** Object:  View [dbo].[View_ActiveLoans]    Script Date: 2026-01-05 15:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_ActiveLoans] AS
SELECT 
    L.LoanID,
    M.MemberName,
    M.Email,
    B.BookTitle,
    L.LoanDate,
    L.DueDate
FROM Loan L
JOIN Member M ON L.FkMemberID = M.MemberID
JOIN Book B ON L.FkBookID = B.BookID
WHERE L.ReturnDate IS NULL;
GO
