USE [LibraryDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterLoan]    Script Date: 2026-01-05 15:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegisterLoan]
    @BookID INT,
    @MemberID INT
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        IF EXISTS (SELECT 1 FROM Loan WHERE FkBookID = @BookID AND ReturnDate IS NULL)
        BEGIN
            PRINT 'Error: Book is already loaned out.';
            ROLLBACK TRANSACTION;
            RETURN;
        END

        INSERT INTO Loan (FkBookID, FkMemberID, LoanDate, DueDate, ReturnDate)
        VALUES (@BookID, @MemberID, GETDATE(), DATEADD(day, 14, GETDATE()), NULL);

        COMMIT TRANSACTION;
        PRINT 'Loan registered successfully.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT 'An error occurred. Transaction rolled back.';
    END CATCH
END;
GO
