USE [LibraryDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterReturn]    Script Date: 2026-01-05 15:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegisterReturn]
    @LoanID INT
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        UPDATE Loan 
        SET ReturnDate = GETDATE() 
        WHERE LoanID = @LoanID;

        COMMIT TRANSACTION;
        PRINT 'Return registered successfully.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT 'Error during return. Transaction rolled back.';
    END CATCH
END;
GO
