USE [LibraryDB]
GO
/****** Object:  StoredProcedure [dbo].[GetBooks]    Script Date: 2026-01-05 15:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBooks]
    @SearchText NVARCHAR(200)
AS
BEGIN
    SELECT
        BookID,
        BookTitle,
        Author,
        Publisher,
        YearPublished,
        Category
    FROM Book
    WHERE BookTitle LIKE '%' + @SearchText + '%'
       OR Author LIKE '%' + @SearchText + '%';
END
GO
