USE [LibraryDB]
GO
/****** Object:  StoredProcedure [dbo].[IsBookLoaned]    Script Date: 2026-01-05 15:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[IsBookLoaned]
    @BookID INT
AS
BEGIN
    SELECT COUNT(*) AS ActiveLoans
    FROM Loan
    WHERE FkBookID = @BookID
      AND ReturnDate IS NULL;
END
GO
