USE [LibraryDB]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 2026-01-05 15:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [int] NOT NULL,
	[BookTitle] [nvarchar](200) NOT NULL,
	[Author] [nvarchar](200) NOT NULL,
	[Publisher] [nvarchar](200) NULL,
	[YearPublished] [int] NULL,
	[Category] [nvarchar](100) NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
