USE [LibraryDB]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 2026-01-05 15:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [int] NOT NULL,
	[MemberName] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](300) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[MembershipDate] [date] NOT NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
